# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
tsup.config.tsbuildinfo
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Editor
.idea/
.vscode/
*.swp
.DS_Store

# Test coverage
coverage/

# Logs
*.log
